<!DOCTYPE html>
<html>
    <head>
        <title>Geonition API test</title>
        
        {% ifequal lib "esri" %}        
            <script type="text/javascript" src="https://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.3"></script>
            <!--  <script type="text/javascript" src="http://api.softgis.fi/softgis_client/softgis.js?lib=esri"></script> -->
           <script type="text/javascript" src="{% url api_javascript %}?lib=esri"></script> 
        {% endifequal %}
        
        {% ifequal lib "jquery" %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>      
            <script type="text/javascript" src="{% url api_javascript %}?lib=jquery"></script>
        {% endifequal %}
        
    </head>
    <body>
        <p>
            This page loaded the softgis dojo javascript api,
            
            you can test it further in a javascript console.
        </p>
        <div id="results" style="color:red"></div>
        <script>
        
        {% ifequal lib "esri" %}
            // collect the esri javascript api tests here
            console.log(gnt);
            
        {% endifequal %}
        
        {% ifequal lib "jquery" %}
            // collect the jquery javascript api tests here
            console.log(gnt);
            
            // data_processing tests
            json = {'some_value', true};
            gnt.data_processing.csv_from_json(json);
            
        {% endifequal %}
        
        </script>
    </body>
</html>
