<!DOCTYPE html>
<html>
    <head>
        <title>Geonition API test</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>      
        <script type="text/javascript" src="{% url api_javascript %}"></script>        
    </head>
    <body>
        <p>
            This page loaded the softgis dojo javascript api,
            you can test it further in a javascript console.
        </p>
        {% csrf_token %}
        
        <script type="text/javascript">
        
        $(document).ready(
            function() {
                //session creation
                console.log("1.create session:");
                gnt.auth.create_session(console.log);
                console.log("2.delete session:");
                gnt.auth.delete_session(console.log);
                console.log("3.create session:");
                gnt.auth.create_session(console.log);
                console.log("4.create session:");
                gnt.auth.create_session(console.log);
                console.log("5.delete session:");
                gnt.auth.delete_session(console.log);
        
                //geo application
                gnt.geo.get_features("", console.log);
                gnt.geo.create_feature({"type": "Feature",
                                        "geometry": { "type": "Point",
                                                    "coordinates": [100.0, 0.0] },
                                        "properties": {}},
                                        console.log);
        
                gnt.geo.update_feature({"type": "Feature",
                                        "geometry": { "type": "Point",
                                                    "coordinates": [100.0, 0.0] },
                                        "properties": {"some": 3}},
                                        console.log);
                                        
                //check many session creations and logout after each other
                for(var i = 0; i < 20; i++) {
                    gnt.auth.create_session(console.log);
                    gnt.auth.logout(console.log);
                }
                
                //create session and then directly after try to get the person
                gnt.auth.create_session(console.log);
                gnt.opensocial_people.get_person('@me', console.log);
            }
        );
        
        
        </script>
    </body>
</html>
