<!DOCTYPE html>
<html>
    <head>
        <title>Geonition API test</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>      
        <script type="text/javascript" src="{% url api_javascript %}"></script>        
    </head>
    <body>
        <p>
            This page loaded the softgis dojo javascript api,
            you can test it further in a javascript console.
        </p>
        {% csrf_token %}
        
        <script type="text/javascript">
        
        var test_feature;
        $.ajaxSetup({
            async: true
            })
        $(document).ready(
            function() {
                //session creation
                if(gnt.auth !== undefined) {
                    gnt.auth.create_session();
                    gnt.auth.get_session();
                    gnt.auth.delete_session();
                    gnt.auth.create_session();
                    gnt.auth.get_session();
                    gnt.auth.create_session();
                    gnt.auth.delete_session();
                }
        
                //geo application
                if(gnt.geo !== undefined && gnt.auth !== undefined) {
                
                    gnt.auth.create_session();
                    
                    gnt.geo.get_features("");
                    gnt.geo.create_feature({"type": "Feature",
                                            "geometry": { "type": "Point",
                                                        "coordinates": [100.0, 0.0] },
                                            "properties": {}},
                                            function(response) {
                                                test_feature = response;
                                                test_feature['properties']['some'] = 3;
                                                gnt.geo.update_feature(test_feature);
                                                gnt.geo.get_features("");
                                            });
                   
                                            
                   //check if the geojson_to_csv works in data_processing
                   if(gnt.data_processing !== undefined) {
                        
                   }
                }
            }
        );
        
        
        </script>
    </body>
</html>
